@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
    font-family: CosmicVortex;
    src: url("/fonts/CosmicVortex.ttf");
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

::-webkit-scrollbar {
    width: 1px !important;
    height: 1px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0038ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    /* color: rgb(var(--foreground-rgb)); */
    background-color: #000000;
    color: #ffffff;
    /* font-family: Inter; */
    font-size: 14px;
    font-family: "Inter", sans-serif;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-family: CosmicVortex !important;
    line-height: 90% !important;
}

.font-vortex {
    font-family: CosmicVortex !important;
    line-height: 90% !important;
}

input,
textarea {
    background-color: #000000 !important;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 13px 10px;
    border-radius: 12px;
    font-size: 16px;
}

.primary-text-gradient {
    background: linear-gradient(to top, #fff 62.72%, #4338ca 87.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 90% !important;
}

.border-gradient {
    /* border: 1px solid #a9ace7; */
    border: 1.5px solid #8a8edc66;
    border-bottom: 1.5px solid #8a8edc66;
}

.box-shadow-stats {
    -webkit-box-shadow: 0 0 10px #0038ff;
    box-shadow: 0 0 10px #0038ff;
}

#menu-icon {
    border-radius: 5px;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(67, 56, 202, 0) 0%,
        rgba(67, 56, 202, 0.2) 100%
    );
}

.btn-primary {
    border-radius: 5px;
    background: radial-gradient(
            70.71% 70.71% at 50% 50%,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #0047ff;
    box-shadow:
        1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset,
        0px 1px 3px 0px rgba(10, 124, 255, 0.24),
        0px 2px 6px 0px rgba(10, 124, 255, 0.24),
        0px 4px 8px 0px rgba(10, 124, 255, 0.12),
        0px 16px 32px -8px rgba(10, 124, 255, 0.48);
}

.btn-secondary {
    border-radius: 5px;
    background: linear-gradient(2deg, #fff -38.65%, #4338ca 88.01%);
    box-shadow:
        1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset,
        0px 1px 3px 0px rgba(10, 124, 255, 0.24),
        0px 2px 6px 0px rgba(10, 124, 255, 0.24),
        0px 4px 8px 0px rgba(10, 124, 255, 0.12),
        0px 16px 32px -8px rgba(10, 124, 255, 0.48);
}
.btn-normal {
    border-radius: 5px;
    background: radial-gradient(
            70.71% 70.71% at 50% 50%,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        #fff;
    box-shadow:
        1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset,
        0px 1px 3px 0px rgba(10, 124, 255, 0.24),
        0px 2px 6px 0px rgba(10, 124, 255, 0.24),
        0px 4px 8px 0px rgba(10, 124, 255, 0.12),
        0px 16px 32px -8px rgba(10, 124, 255, 0.48);
}

.btn-normal2 {
    border-radius: 5px;
    background: radial-gradient(
            70.71% 70.71% at 50% 50%,
            rgba(255, 255, 255, 0.12) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        rgba(0, 71, 255, 0);
    box-shadow:
        1px 1px 2px 0px rgba(255, 255, 255, 0.24) inset,
        0px 1px 3px 0px rgba(10, 124, 255, 0.24),
        0px 2px 6px 0px rgba(10, 124, 255, 0.24),
        0px 4px 8px 0px rgba(10, 124, 255, 0.12),
        0px 16px 32px -8px rgba(10, 124, 255, 0.48);
}

.bg-icon-primary {
    border-radius: 5px;
    border: 1px solid #a5b4fc;
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(67, 56, 202, 0) 0%,
        rgba(67, 56, 202, 0.2) 100%
    );
}

.top-bar-item {
    border-radius: 12px;
    border: 1px solid #a9ace7;
    background: radial-gradient(
            111.42% 170.43% at 83.26% 142.62%,
            rgba(38, 99, 254, 0) 79.1%,
            rgba(53, 110, 255, 0.1) 100%
        ),
        rgba(0, 0, 0, 0.35);

    /* 6 */
    box-shadow: 0px 0px 20px 0px #356eff;
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
